.footer {
  margin-top: 64px;
  border-top: 1px solid #E0E0E0;
  padding-top: 15px;
  padding-bottom: 16px;

  color: #212121;
  width: 100%;
  bottom: 0px;
  position: absolute;
}

p {
  padding-left: 16px;
}
