.main-page {
  padding-left: 16px;
  color: #212121;

  ul {
    list-style-type: none;
  }

  .item {
    padding: 10px;
    float: none;
    background-color: #FAFAFA;
  }

  .item:hover {
    background-color: #90CAF9;
  }
}
