.twitter-page {
  padding-left: 16px; }
  .twitter-page .scroller {
    padding: 4px;
    background-color: #efeef1;
    white-space: pre-line;
    height: 650px;
    width: 340px;
    overflow-y: hidden;
    position: relative;
    float: right; }
  .twitter-page .inputArea {
    padding-bottom: 12px;
    align-content: center; }
  .twitter-page .formSubmission {
    display: inline-flex; }
    .twitter-page .formSubmission #textInput {
      padding: 4px; }
