<div class="twitter-page">
  <h1>Twitter page</h1>
  <div class="inputArea">
    <form ng-submit="openTwitterStream()">
      <input type="text" ng-model="streamParam" placeholder="Type search text here.." required>
      <button type="submit">Track</button>
    </form>
  </div>
  <perfect-scrollbar class="scroller" min-scrollbar-length="20" include-padding="true" suppressScrollX="true">
    <div ng-repeat="tweet in tweets">
      <span ng-if="tweet.author" ng-style="{'font-weight': 'bold', 'color': tweet.authorColor}">{{tweet.author}}:</span> {{tweet.body}}
    </div>
  </perfect-scrollbar>
</div>
